.label, .label-answered, .label-attempted, .label-attended, .label-commented {
  background-color: #999;
}
.label-imported,  .label-interacted, .label-experienced {
  background-color: #428bca;
}
.label-launched, .label-mastered, .label-passed, .label-progressed, .label-registered, .label-completed {
  background-color: #5cb85c;
}
.label-scored, .label-shared, .label-terminated, .label-responded, .label-resumed {
  background-color: #5bc0de;
}
.label-asked, .label-preferred, .label-initialized {
  background-color: #f0ad4e;
}
.label-suspended, .label-voided, .label-exited, .label-failed {
  background-color: #d9534f;
}