<!doctype html>
<html ng-app="consumerApp">
  <head>
    <title>Actor Consumer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script  src="js/controller.js"></script>
  </head>
  <body>
    <h2>QueenBee Angular Actor Consumer</h2>

<div ng-controller="EventCtrl">
    <div id="actors">
     <h3>Actor Events</h3>
     <form ng-submit="findActor()">
      <input type="text" ng-model="uid" placeholder="Enter Actor UID">
      <input type="submit" value="Find">
     </form>
     <div id="actor-events-data-area" style="padding-top:30px;display:none;">
      <table border="1">
        <tr>
	  <th>Action</th>
	  <th>Description</th>
	  <th>Time</th>
	</tr>
	  <tr ng-repeat="actorevent in actorEvents">
	    <td align="center">{{actorevent["action"]}}</td>
            <td align="center">{{actorevent["description"]}}</td>
	    <td align="center">{{actorevent["created_at"]}}</td>
	  </tr>
      </table>
     </div>
    </div>
</div>
  </body>
</html>
