<!doctype html>
<html ng-app="consumerApp">
  <head>
    <title>QueenBee API Angular Consumer app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/labels.css" rel="stylesheet">
    <style type="text/css">
      .header {
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid #e5e5e5;
      }
      .tab-content {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3>QueenBee API Angular Consumer app</h3>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Events</a></li>
        <li><a href="#profile" data-toggle="tab">Actor Profile</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="row marketing" ng-controller="EventCtrl">
            <div id="search-area" class="form-group well" style="padding-bottom:30px;">
              <label>Search</label>
              <input ng-model="query" class="form-control" placeholder="Filter events">  
            </div>
            <div id="data-area">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>Description</th>
                    <th>Actor</th>
                    <th>URL</th>
                    <th>Time</th>
                  </tr>
                </thead>
                    
                <tbody>
                  <tr ng-repeat="event in events | filter:query">
                    <td><span class="label label-{{event.action}}">{{event.action}}</span></td>
                    <td>{{event.description}}</td>
                    <td>{{event.actor.uid}}</td>
                    <td><a href="{{event.url}}">{{event.url}}</a></td>
                    <td>{{event.created_at}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end row -->
        </div> <!-- end pane -->

        <div class="tab-pane" id="profile">
          <div class="row marketing" ng-controller="EventCtrl">
            <h3>Actor Events</h3>
            <form ng-submit="findActor()" class="well form-inline" role="form">
              <div class="form-group">
                <input type="text" ng-model="uid" placeholder="Enter Actor UID" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Find</button>    
            </form>

            <div id="actor-events-data-area" style="padding-top:30px;display:none;">
              <img ng-src="images/{{uid}}.jpg" class="thumbnail" width="171px" height="180px">
              <h4>Events for #<span ng-bind="uid"></span></h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Time</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr ng-repeat="actorevent in actorEvents">
                    <td><span class="label label-{{actorevent.action}}">{{actorevent.action}}</span></td>
                    <td>{{actorevent.description}}</td>
                    <td><a href="{{actorevent.url}}">{{actorevent.url}}</a></td>
                    <td>{{actorevent.created_at}}</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- actor-events -->
          </div> <!-- row -->
        </div> <!-- end pane -->

      </div> <!-- end tabs -->
    </div> <!-- end container -->
  </body>
</html>
